.card {
    z-index: 10;
    position: fixed;
    bottom: 10%;
    right: 5%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.card.success {
    background-color: #458b47;
}

.card.error {
    background-color: #f44336;
}

.card.warning {
    background-color: #d88202;
}

.closeButton {
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    align-self: center;
    background-color: transparent;
    box-shadow: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 2px;
}

.closeButton:hover {
    color: black;
    background-color: white;
    opacity: 0.2;
    border-radius: 50%;
}
